* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    background-color: #333333;
}

header {
    width: 100%;
    padding: 15px;
    background-color: #212121;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.search-bar {
    display: flex;
    position: relative;
    width: 870px;
    height: 48px;
    margin: 0 auto;
    border-radius: 4px;
}

.search-category {
    padding: 0 20px;
    background-color: #4c4c4c;
    border-radius: 4px 0 0 4px;
    display: flex;

}

.category-menu {
    width: 240px;
    padding: 20px;
    background-color: #262626;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.38s;
    z-index: 11;
}

.category-menu .subject {
    margin: 4px 0;
    color: #ffffff;
    text-transform: capitalize;
}

.category-menu .menu-item {
    position: relative;
    padding: 6px 0 6px 36px;
    color: #999999;
    font-size: 14px;
    line-height: 22px;
    text-transform: capitalize;
    transition: all 0.13s;
}

.category-menu .menu-item:hover {
    color: #fbbc05;
}

.search-category:hover .category-menu {
    top: calc(100% + 4px);
    opacity: 1;
    pointer-events: all;
}

.input-search {
    width: 100%;
    flex: 1;
}

.input-search input {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    color: #ffffff;
    background-color: #333333;
    font-size: 14px;
    border-radius: 0 4px 4px 0;
}

.search-btn {
    width: 58px;
    height: 100%;
    color: #ffffff;
    background-color: #333333;
    font-size: 16px;
    border-radius: 0 4px 4px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

.search-btn i {
    font-size: 24px;
}

.search-menu {
    display: none;
    width: 100%;
    padding: 20px 30px;
    color: #999999;
    background-color: #262626;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    z-index: 10;
}

.search-related a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #999999;
    font-size: 14px;
    text-decoration: none;
    line-height: 32px;
    transition: all 0.13s;
}

.search-related a:hover {
    color: #ffffff;
}

.input-search input:focus + .search-menu {
    display: block;
}

.search-header {
    color: white;
    margin-top: 14px;
}

.country-img-icon {
    display: flex;
    align-items: center;
}

.country-icon {
    width: 20px;
    height: 30px;
    margin-right: 5px;
}