

.container {
    width: 250px;
    height: 300px;
    border: 1px solid red;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.container-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 11px;
    top: 11px;
}

.container-text {
    font-size: 6rem;
}